.container {
  background-color:#FFF;
  width:40em;
  margin-right:auto;
  margin-left:auto;
  box-shadow: 10px 10px 5px #888;
}

.subhead {
    font-weight: bold;
    font-style: italic;
    font-size: x-large;
  }

  .eighthourform {
  	text-align: center;
  	font-family: "Times New Roman";
    font-size: 1.1em;
  }

  .outerContainer {
  	background-color: #CCC;
  	height:  100vh;
  	width:  100vw;
  }

  .submitButton {
  	background-color:#CCC;
  	padding:.7em;
  }

  .formSpacing {
  	padding: 15px 10px;
  }